@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,900);

$font: "Open Sans", sans-serif;
$font-roboto: 'Roboto', sans-serif;;

$color-font: #25262a;
$color-font--lblue: #0082ad;
$color-font--dblue: #133a81;
$color-font--green: #15b799;

$color-lblue: #0082ad;
$color-dblue: #007aa3;
$color-gray: #ececec;
$color-green: #15b799;
$color-red: #ff7070;
$color-lgreen: #1a88ac;
