@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Comfortaa:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,900);
/* line 5, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
body {
  font: 14px/36px "Open Sans", sans-serif; }
  /* line 9, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  body a:hover {
    text-decoration: none; }

/* line 17, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.header__top__line {
  height: 12px;
  min-height: 1px; }
  /* line 20, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .header__top__line--green {
    background-color: #15b799; }
  /* line 23, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .header__top__line--lblue {
    background-color: #0082ad; }
  /* line 26, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .header__top__line--dblue {
    background-color: #007aa3; }

/* line 30, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.header__top__info {
  padding: 30px 0; }
  /* line 35, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .header__top__info--tagline {
    padding: 0 90px; }
    /* line 37, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .header__top__info--tagline p {
      font: 20px/36px "Open Sans", sans-serif; }
      /* line 41, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
      .header__top__info--tagline p span {
        color: #0082ad;
        font-weight: 600; }
  /* line 49, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .header__top__info--contacts--phone a {
    color: #15b799;
    font: 28px/30px "Open Sans", sans-serif; }
    /* line 52, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .header__top__info--contacts--phone a span {
      font-weight: 600; }
  /* line 59, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .header__top__info--contacts--mail a {
    color: #0082ad;
    font-weight: 300;
    font: 14px/30px "Open Sans", sans-serif;
    text-decoration: underline; }
  /* line 67, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .header__top__info--contacts li {
    list-style-type: none; }
    /* line 69, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .header__top__info--contacts li i {
      color: #ececec;
      width: 15px;
      margin-left: -15px;
      margin-right: 15px; }

/* line 81, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.header__menu {
  font: 15px/36px "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: none;
  background: #ececec;
  color: #25262a; }
  /* line 89, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .header__menu .navbar-nav {
    float: none;
    text-align: center; }
    /* line 95, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .header__menu .navbar-nav .dropdown-menu {
      padding: 0px;
      width: 100%;
      text-transform: none;
      border-radius: 0px;
      margin-top: -1px;
      box-shadow: 5px 8.7px 13px rgba(0, 0, 0, 0.38); }
      /* line 103, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
      .header__menu .navbar-nav .dropdown-menu li {
        padding: 15px 15px;
        background: #0082ad;
        border: 1px solid transparent; }
        /* line 110, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
        .header__menu .navbar-nav .dropdown-menu li a {
          color: white; }
      /* line 115, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
      .header__menu .navbar-nav .dropdown-menu li:hover {
        background: #007aa3;
        border: 1px solid #1a88ac; }
    /* line 121, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .header__menu .navbar-nav > li {
      width: 33.33333%;
      float: none;
      display: inline-block; }
      /* line 123, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
      .header__menu .navbar-nav > li:first-child {
        margin-right: -5px; }
      /* line 126, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
      .header__menu .navbar-nav > li:last-child {
        margin-left: -5px; }
    /* line 135, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .header__menu .navbar-nav a:focus {
      color: white;
      background: #007aa3; }
    /* line 139, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .header__menu .navbar-nav a:hover {
      color: white;
      background: #007aa3; }

/* line 150, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.slider {
  width: 100%;
  padding-top: 35px;
  background: #ff7070;
  color: white;
  font: 15px/36px "Open Sans", sans-serif;
  font-weight: 400; }
  /* line 159, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .slider h1 {
    margin-top: 75px;
    text-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.1);
    font: 34px/45px "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  /* line 166, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .slider p {
    font: 18px/30px "Open Sans", sans-serif;
    font-weight: 400; }
  /* line 171, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .slider__content__link {
    display: block;
    margin-top: 30px;
    color: #e7e7e7;
    font-weight: 300;
    font: 14px/30px "Open Sans", sans-serif;
    text-decoration: underline; }
  /* line 179, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .slider__content__button {
    display: inline-block;
    margin-top: 40px;
    padding: 19px 45px;
    background-image: linear-gradient(to top, rgba(215, 215, 215, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(224, 97, 97, 0.5), inset 0 2px 0 white;
    background: #ececec;
    color: #333;
    font: 16px/36px "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }

/* line 195, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.comfortable {
  padding: 60px 0;
  text-align: center;
  color: #25262a; }
  /* line 200, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .comfortable h1 {
    margin-bottom: 40px;
    color: #007aa3;
    font: 34px/35px "Open Sans", sans-serif;
    font-weight: 600; }
  /* line 207, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .comfortable h5 {
    font: 16px/18px "Open Sans", sans-serif;
    font-weight: 600; }
  /* line 213, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .comfortable p {
    padding: 0 50px;
    font: 14px/20px "Open Sans", sans-serif; }

/* line 219, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.conditions {
  padding: 60px 0;
  text-align: center;
  background: url(../img/bg/conditions--bg.png) no-repeat;
  color: white; }
  /* line 224, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .conditions h1 {
    margin-bottom: 40px;
    color: white;
    font: 34px/50px "Open Sans", sans-serif;
    font-weight: 600; }
  /* line 232, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .conditions h5 {
    padding: 0 50px;
    font: 20px/28px "Open Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase; }
  /* line 239, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .conditions p {
    font: 16px/20px "Roboto", sans-serif; }

/* line 245, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.solve-task {
  padding: 60px 0;
  background: url(../img/bg/solve-task--bg.png) no-repeat;
  background-position: 400px;
  color: black;
  text-align: left;
  font-weight: 400; }
  /* line 253, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .solve-task__text {
    margin-left: 20px; }
    /* line 255, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .solve-task__text p {
      font: 14px/20px "Open Sans", sans-serif !important; }
  /* line 260, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .solve-task__block {
    margin-top: 56px; }
  /* line 264, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .solve-task h1 {
    margin-bottom: 40px;
    color: #15b799;
    font: 34px/45px "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  /* line 273, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .solve-task p {
    padding-right: 40px;
    font: 18px/25px "Open Sans", sans-serif; }
    /* line 276, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .solve-task p span {
      font-weight: 700; }
  /* line 281, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .solve-task h5 {
    font: 16px/20px "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  /* line 288, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .solve-task img {
    float: left; }

/* line 298, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.offer {
  padding: 60px 0;
  background: #15b799;
  color: white;
  font-size: 34px;
  line-height: 45px;
  text-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.1); }
  /* line 306, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .offer span {
    font-weight: 700;
    line-height: 45px; }

/* line 313, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.ceo {
  background: url(../img/bg/ceo--bg.png) no-repeat;
  padding: 60px 0;
  color: black;
  margin: 0 auto; }
  /* line 324, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .ceo__block {
    width: 695px;
    min-height: 329px;
    position: relative;
    padding: 35px 30px;
    background-color: white; }
    /* line 344, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .ceo__block p {
      font: 18px/25px "Open Sans", sans-serif; }
      /* line 346, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
      .ceo__block p span {
        font-weight: 800; }
    /* line 351, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .ceo__block__fio {
      position: absolute;
      bottom: 30px;
      right: 30px;
      font: 16px/25px "Open Sans", sans-serif !important;
      font-weight: 700 !important; }
    /* line 359, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .ceo__block__logo {
      position: absolute;
      bottom: 30px;
      left: 30px; }

/* line 381, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.parthners {
  padding: 60px 0;
  background: #ececec;
  color: #007aa3; }
  /* line 386, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .parthners h1 {
    margin-bottom: 60px;
    font: 31px/50px "Open Sans", sans-serif !important; }
  /* line 391, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .parthners img {
    margin: 0 15px; }

/* line 398, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.comments {
  background: url(../img/bg/comments-1.png) no-repeat left;
  background: url(../img/bg/comments-2.png) no-repeat right;
  padding: 20px 0; }
  /* line 403, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .comments h1 {
    margin-bottom: 50px;
    color: #007aa3;
    font-size: 31px;
    font-weight: 600;
    line-height: 50px; }
  /* line 415, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .comments__block__text {
    width: 100%;
    min-height: 200px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #0082ad;
    border-radius: 6px; }
    /* line 423, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .comments__block__text p {
      color: #f1f1f1;
      font: 15px/22px "Open Sans", sans-serif;
      font-style: italic; }
  /* line 430, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .comments__block__sign {
    color: #071c22;
    font: 15px/25px "Open Sans", sans-serif;
    font-weight: 600; }

/* line 438, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.cta-call {
  color: white;
  padding: 20px 0;
  background: #ff7070; }
  /* line 443, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .cta-call h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px; }
  /* line 449, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .cta-call a {
    color: #133a81;
    font-size: 43px;
    font-weight: 300;
    line-height: 30px; }
    /* line 450, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .cta-call a:hover {
      text-decoration: none; }
    /* line 456, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .cta-call a span {
      font-weight: 600; }

/* line 464, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.knowledge {
  padding: 60px 0;
  color: black; }
  /* line 468, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .knowledge h1 {
    margin-bottom: 45px;
    color: #007aa3;
    font-size: 34px;
    font-weight: 600;
    line-height: 50px; }
  /* line 475, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .knowledge h5 {
    color: #15b799;
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 900;
    line-height: 20px; }
  /* line 483, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .knowledge p {
    margin: 0 -25px;
    font-weight: 700;
    line-height: 20px; }
  /* line 489, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .knowledge .knowledge_arrow {
    color: #9a9a9a;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase; }

/* line 499, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.questions {
  padding-top: 40px;
  background-color: #f4f4f4;
  color: #0082ad; }
  /* line 506, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .questions__form__input {
    width: 100%;
    height: 49px;
    padding: 15px 20px;
    margin-bottom: 18px;
    background-color: white;
    border-radius: 6px;
    color: #9a9a9a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400; }
  /* line 519, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .questions__form__submit {
    width: 100%;
    height: 49px;
    background-color: #ff7070;
    border-radius: 6px;
    color: #333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600; }
  /* line 530, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .questions h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 52px; }
  /* line 535, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .questions p {
    font-size: 31px;
    font-weight: 300;
    line-height: 41px; }
    /* line 539, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .questions p span {
      color: #15b799;
      text-transform: uppercase;
      font-weight: 400; }
  /* line 545, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .questions img {
    float: right; }

/* line 550, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.footer {
  padding-top: 25px; }
  /* line 552, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .footer li {
    list-style-type: none !important; }
  /* line 559, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .footer__contact i {
    color: #ececec;
    width: 25px;
    margin-right: 10px; }
  /* line 564, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .footer__contact--phone {
    line-height: 30px;
    font-weight: 300; }
    /* line 568, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .footer__contact--phone a {
      color: #15b799;
      font-size: 22px; }
    /* line 572, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .footer__contact--phone span {
      font-weight: 600; }
  /* line 576, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .footer__contact--mail {
    font-weight: 300;
    line-height: 30px;
    text-decoration: underline; }
    /* line 580, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .footer__contact--mail a {
      color: #0082ad;
      font-size: 14px; }
  /* line 585, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .footer__contact--address {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; }
    /* line 589, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .footer__contact--address a {
      color: black;
      font-family: "Roboto", sans-serif; }
  /* line 597, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .footer__social-links a {
    text-decoration: underline; }
  /* line 600, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .footer__social-links li {
    display: inline-block; }
  /* line 604, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .footer__copy {
    padding-top: 10px;
    width: 100%;
    height: 36px;
    background-color: #e9e9ea;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300; }
    /* line 615, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
    .footer__copy span {
      font-weight: 400; }

/* line 623, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.phone {
  font-weight: 400; }

/* line 628, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.owl-prev {
  margin-top: -280px;
  margin-left: -50px;
  padding: 10px;
  float: left;
  width: 350px;
  height: 81px;
  background: url(../img/slider-arr1.png) no-repeat; }
  /* line 636, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .owl-prev:hover {
    background-color: none; }

/* line 640, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.owl-next {
  margin-top: -280px;
  margin-right: 50px;
  float: right;
  width: 18px;
  height: 81px;
  background: url(../img/slider-arr2.png) no-repeat; }
  /* line 647, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
  .owl-next:hover {
    background-color: none; }

/* line 652, C:/Users/guban/Desktop/Global Solutions/css/style.scss */
.owl-pagination {
  float: left;
  margin-top: -40px; }

/*# sourceMappingURL=style.css.map */