@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Comfortaa:400,700&subset=latin,cyrillic);
@import "_var";


body {
    font: 14px/36px $font;
    
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.header {
    &__top {
        &__line {
            height: 12px;
            min-height: 1px;
            &--green {
                background-color: $color-green;
            }
            &--lblue {
                background-color: $color-lblue;
            }
            &--dblue {
                background-color: $color-dblue;
            } 
        }
        &__info {
            padding: 30px 0;
            
            &--logo {      
            }
            &--tagline {
            padding: 0 90px;
            p {
                font: 20px/36px $font;
                
                
                span {
                    color: $color-lblue;
                    font-weight: 600;
                }
            }
        }
            &--contacts {
                &--phone {
                    a{
                        color: $color-green;
                        font: 28px/30px $font;
                        span {
                            font-weight: 600;
                        }
                    }
                    
                }
                &--mail {
                    a{
                        color: $color-lblue;
                        font-weight: 300;
                        font: 14px/30px $font;
                        text-decoration: underline;
                    }
                    
                }
                li {
                    list-style-type: none;
                    i{
                        color: $color-gray;
                        width: 15px;
                        margin-left: -15px;
                        margin-right: 15px;
                    }
                }
                }
        }
        
    }
    
    &__menu {
        font: 15px/36px $font;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: none;
        background: $color-gray;
        color: $color-font;
        
        .navbar-nav {
            
        float: none;
        text-align: center;
            
            
            .dropdown-menu {
                padding: 0px;
                width: 100%;
                text-transform: none;
                border-radius: 0px;
                    margin-top: -1px;
                box-shadow: 5px 8.7px 13px rgba(0, 0, 0, 0.38);
                
                li{ 
                    padding: 15px 15px;
//                    padding-right: 90px;
                    
                    background: $color-lblue;
                    border: 1px solid transparent;
                    
                    a {
                        
                        color: white;
                    }
                }
                li:hover {
                    background: $color-dblue;
                    border: 1px solid $color-lgreen;
                            
                }
                }
        &>li {
            width: (100%/3);
            &:first-child {
                margin-right: -5px;
                }
                &:last-child {
                   margin-left: -5px; 
                }
            
            float: none;
            display: inline-block; 
            }
            
            a {
                &:focus {
                    color: white;
                    background: $color-dblue;
                }
                &:hover {
                    color: white;
                    background: $color-dblue;
                }
       
            }
        }
    }

}

.slider {
    width: 100%;
    padding-top: 35px;
//    height: 450px;
    background: $color-red;
    color: white;
    font: 15px/36px $font;
        font-weight: 400;
    
    h1 {
        margin-top: 75px;
        text-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.1);
        font: 34px/45px $font;
        font-weight: 700;
        text-transform: uppercase;
    }
    p {
        font: 18px/30px $font;
        font-weight: 400;
    }
    
    &__content__link{
        display: block;
        margin-top: 30px;
        color: #e7e7e7;
        font-weight: 300;
        font: 14px/30px $font;
        text-decoration: underline;
    }
    &__content__button{
        display: inline-block;
        margin-top: 40px;
        padding: 19px 45px;
        background-image: linear-gradient(to top, rgba(215, 215, 215, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
        border-radius: 2px;
        box-shadow: 0 2px 2px rgba(224, 97, 97, 0.5), inset 0 2px 0 white;
        
        background: $color-gray;
        color: #333;
        font: 16px/36px $font;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.comfortable {
    
    padding: 60px 0;
    text-align: center;
    color: $color-font;
    h1 {
        margin-bottom: 40px;
        color: $color-dblue;
        font: 34px/35px $font;
        font-weight: 600;
        
    }
    h5 {
        
        font: 16px/18px $font;
        font-weight: 600;
    }
    
    p {
        padding: 0 50px;
        font: 14px/20px $font;
    }
}

.conditions {
    padding: 60px 0;
    text-align: center;
    background: url(../img/bg/conditions--bg.png) no-repeat;
    color: white;
    h1 {
        margin-bottom: 40px;
        color: white;
        font: 34px/50px $font;
        font-weight: 600;
        
        
    }
    h5 {
        padding: 0 50px;
        font: 20px/28px $font;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    p {

        font: 16px/20px $font-roboto;
    }
}

.solve-task {
    padding: 60px 0;
    background: url(../img/bg/solve-task--bg.png) no-repeat;
    background-position: 400px;
    color: black;
    text-align: left;
    font-weight: 400;
    
    &__text {
        margin-left: 20px;
        p{
            font: 14px/20px $font !important;
        }
    }
    
    &__block {
        margin-top: 56px;
    }
    
     h1 {
        margin-bottom: 40px;
        color: $color-green;
        font: 34px/45px $font;
        font-weight: 700;
         text-transform: uppercase;
        
        
    }
    p {
        padding-right: 40px;
        font: 18px/25px $font;
        span {
            font-weight: 700;
        }
    }
    
    h5 {
        font: 16px/20px $font-roboto;
        font-weight: 700;
        text-transform: uppercase;
//        display: inline-block;
    }
    
    img {
          float: left;
        
    }
    

    
    
}

.offer {
    padding: 60px 0;
    background: $color-green;
    color: white;
    font-size: 34px;
    line-height: 45px;
    text-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.1);
    
    span {
        font-weight: 700;
        line-height: 45px;
    }
    
}

.ceo {
    background: url(../img/bg/ceo--bg.png) no-repeat;
    padding: 60px 0;
    color: black;
     margin: 0 auto;
    
    
    img {
//        position: absolute;
    }
    
    &__block {
        width: 695px;
        min-height: 329px;
        position: relative;
       
        padding: 35px 30px;
        background-color: white;
        
//        &--shadow {
//            margin-top: -100px; 
//            margin-left: -100px;
//            width: 335px;
//            height: 329px;
//            opacity: 0.5;
//            background-color: #0082ad;
//        }
        
        
        
        
        p {
            font: 18px/25px $font;
            span {
                font-weight: 800;
            }
        }
        
        &__fio {
            position: absolute;
            bottom: 30px;
            right: 30px;
            font: 16px/25px $font !important;
            font-weight: 700 !important;
        }
        
        &__logo {
            position: absolute;
            bottom: 30px;
            left: 30px;
            
        }
    }
//    &__block:after {
//            content: "t";
//            position: absolute;
//            top: 50px;
//        left: 455px;
//        z-index: 10;
//            width: 335px;
//            height: 329px;
//            opacity: 0.5;
//            background-color: #0082ad;
//        
//        
//    }
}

.parthners {
    padding: 60px 0;
        background: $color-gray;
        color: $color-dblue;
    
    h1 {
        margin-bottom: 60px;
        font: 31px/50px $font !important;
    }
    
    img {
        margin: 0 15px;
    }
    
    
}

.comments {
    background: url(../img/bg/comments-1.png) no-repeat left;
    background: url(../img/bg/comments-2.png) no-repeat right;
    padding: 20px 0;
    
    h1 {
        margin-bottom: 50px;
        color: $color-dblue;
        font-size: 31px;
        font-weight: 600;
        line-height: 50px;
        
    }
    
    &__block {
    
        
        &__text {
            width: 100%;
            min-height: 200px;
            margin-bottom: 30px;
            padding: 30px;
            background-color: $color-lblue;
            border-radius: 6px;

            p{
                color: #f1f1f1;
                font: 15px/22px $font;
                font-style: italic;

            }
        }
        &__sign{
            color: #071c22;
            font: 15px/25px $font;
            font-weight: 600;
        }
    }
}

.cta-call {
    color: white;
    padding: 20px 0;
    background: $color-red;
    
    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }
    
    a {
        &:hover {
            text-decoration: none;        }
        color: $color-font--dblue;
        font-size: 43px;
        font-weight: 300;
        line-height: 30px;
        span {
            font-weight: 600;
        }
    }
    
    
}

.knowledge {
    padding: 60px 0;
    color: black;
    
    h1{
        margin-bottom: 45px;
        color: $color-dblue;
        font-size: 34px;
        font-weight: 600;
        line-height: 50px;
    }
    h5{
        color: $color-green;
        margin-top: 25px;
        font-family: $font-roboto;
        font-size: 25px;
        font-weight: 900;
        line-height: 20px; 
    }
    p{
        margin: 0 -25px;
        font-weight: 700;
        line-height: 20px; 
        
    }
    .knowledge_arrow {
        color: #9a9a9a;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.questions {
    padding-top: 40px;
//    background: url(/img/bg/questions-man.png) no-repeat left;
//    background: $color-grey;
    background-color: #f4f4f4;
    color: $color-lblue;
    
    &__form__input {
        width: 100%;
        height: 49px;
        padding: 15px 20px;
        margin-bottom: 18px;
        background-color: white;
        border-radius: 6px;
        color: #9a9a9a;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        
    }
    &__form__submit {
        width: 100%;
        height: 49px;
        background-color: $color-red;
        border-radius: 6px;
        color: #333;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 600;
   }
    
    h1{
        font-size: 40px;
        font-weight: 400;
        line-height: 52px;
    }
    p{
        font-size: 31px;
        font-weight: 300;
        line-height: 41px;
        span {
            color: $color-green;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
    img {
        float: right;
    }
}

.footer {
    padding-top: 25px;
    li {
        list-style-type: none !important;
    }
    
    
    &__contact {
        
        i {
            color: $color-gray;
            width: 25px;
            margin-right: 10px;
        }
        &--phone {
            
            line-height: 30px;
            font-weight: 300;
            a {
                color: $color-green;
                font-size: 22px;
            }
            span {
                font-weight: 600;
            }
        }
        &--mail {
            font-weight: 300;
            line-height: 30px;
            text-decoration: underline;
            a{
                color: #0082ad;
                font-size: 14px;
            }
        }
        &--address {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            a{
                color: black;
                font-family: $font-roboto;
            }
        }
    }
    
    &__social-links{
        a {
            text-decoration: underline;
        }
        li {
            display: inline-block;
        }
    }
    &__copy {
        padding-top: 10px;
        width: 100%;
        height: 36px;
        background-color: #e9e9ea;
        color: #333;
        font-family: $font-roboto;
        font-size: 12px;
        line-height: 20px;
        font-weight: 300;
        
        & span {
            font-weight: 400;
        }
    }
    
    
}

.phone {
    font-weight: 400;
}

.owl {
    &-prev {
        margin-top: -280px;
        margin-left: -50px;
        padding: 10px;
        float: left;
        width: 350px;
        height: 81px;
        background: url(../img/slider-arr1.png) no-repeat;
        &:hover {
            background-color: none;
        }
    }
    &-next {
        margin-top: -280px;
        margin-right: 50px;
        float: right;
        width: 18px;
        height: 81px;
        background: url(../img/slider-arr2.png) no-repeat;
        &:hover {
            background-color: none;
        }
    }
    
    &-pagination {
    float: left;
    margin-top: -40px;
}
}